<h3> You don't know birds 'til you've seen this site! </h3>
<img src="../img/bird.png" alt="So busy!!!" align="center" width="35%" height="35%" hspace="20" />

<hr>

<table style="width:60%" align="center">
  <tr>
    <td><button type="button" onclick="location.href='/birds'"> Birds </button></td>
    <td style="width:35%"> </td>
    <td><button type="button" onclick="location.href='/settings'"> Settings </button></td>
  </tr>
</table>
