<h3> SETTINGS </h3>

Only show birds that have been seen this <span style="color:#2b997d">many times</span>:


<form method="POST" action="">
	<input type="number" name="minVal" value={{minVal}}>
	<input type="submit" name="add">
</form>

<div id="footer"><br><br> <a href="/">Home</a>  &emsp;| &emsp; <a href="/birds">Birds</a> &emsp;| &emsp; <a href="/settings">Settings</a></div>

