<!doctype html>
<head>
<style>

@import url('http://fonts.googleapis.com/css?family=Montserrat');
@import url('http://fonts.googleapis.com/css?family=Kaushan+Script');

html {
  background-color: #FFFFE3;
  text-align: center;
}
h1{
  font-size: 2.2em;
  color: #FF9800;
}

input {
  font-weight: bold;
  border: transparent;
}
input[type=text] {
  font-size: 1.6em;
  font-family: 'Kaushan Script', serif;
  border-bottom: 2.5px solid #263248;
  background: #FFFFE3;
  text-align: center;
  margin-left: 20px;
  width: 200px;
  color: #34324b;
}
input[type=submit] {
  font-size: 1em;
  margin-left: 20px;
  height: 40px;
  width: 110px;
  background: #FF9800;
  color: white;
}
input[type=submit]:hover {
  background: #7E8AA2;
  color: white;
}
table, td{
	width: 90%;
	border: 2.5px solid #7E8AA2;
	text-align: left;
	border-collapse: collapse;
	border-spacing: 5px;
	background: #fff;
}
th, td {
	padding: 5px;
	width: 100px;
}
th {
	letter-spacing: 2px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	background: #7E8AA2;
}
body {
  font-size: 1em;
  font-family: "Montserrat", sans-serif;
  margin-left: 18%;
  margin-right: 18%;
  color: #263248;
}

</style>
  <title></title>
</head>
<body>
  {{{ body }}}
</body>
</html>
