<!doctype html>
<head>
  <link href="../css/base.css" type="text/css" rel="stylesheet" />
  <title></title>
</head>
<body>
	<div id="wrapper">
		<div id="header"> <h1> THE BUSY BIRDER </h1> </div>
  		<div id="content"> {{{ body }}} </div>
  	</div>

</body>
</html>


