<!DOCTYPE html>
<html>

  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>

  <body>
  <div id="container">
  	<div id="headerimage">
  	<img src='/images/header.png' style="width:80%; text-align:center"/></div>

  	<h1>Shoppy Shopperson</h1>
  	<div id="main">
    {{{body}}}
    <a href="/list">All Lists</a>  &emsp;| &emsp; <a href="/list/create">Create a New List</a>  &emsp;| &emsp; <a href="/list/remove">Remove all</a>
    
	</div>
  </div>
  </body>
</html>
