<h3> Create list </h3>
<form method="POST" action="">
	Name: <input type="text" name="name"><br><br>
	Created by: <input type="text" name="createdBy"><br><br>
	<input type="submit" value="Create a new list">
</form>
<br>